<div class="form-wrapper">
  <form
    class="form"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <div class="field">
      <label class="label" for="password">Password:</label>
      <input
        class="input"
        id="password"
        formControlName="password"
        type="text"
      >
    </div>
    <div class="button-block">
      <app-password-strength [strength]="checkStrength(form.value.password)"></app-password-strength>

      <button
        type="submit"
        class="submit-button"
        [disabled]="form.invalid"
      >Submit</button>
    </div>
  </form>
</div>

