.section {
  justify-content: space-between;
  display: inline-flex;
  margin: 10px;

  &__item {
    width: 50px;
    height: 10px;
    margin-left: 20px;
    border-radius: 4px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.untouched {
  background-color: grey;
}

.invalidLength {
  background-color: Red;
}

.easy {
  background-color: grey;

  &:first-child {
    background-color: Red;
  }
}

.medium {
  background-color: yellow;

  &:last-child {
    background-color: grey;
  }
}

.hard {
  background-color: greenyellow;
}
